extends ./base/layout.pug

block content
    main
        section.container
            article.col-1
                h1 uno
            article.col-2
                h1 dos
            article.col-3
                h1 tres
            article.col-4
                h1 cuatro
//- Grid Container
