extends ./base/layout.pug

block content
    main.full
        .row
            section.end.column.column-middle.bgc--white
                article.box.box_site.box_site--left
                    .content
                        .title
                            .logo_site.cl--orange
                                span.icon.icon-min_lequa_hr
                                a.btn.btn_ghost(href="#LQ")
            section.end.column.column-middle.bgc--white
                article.box.box_site.box_site--right
                    .content
                        .logo_site.logo_site--mix.mg_bottom--x20
                            .txt_size--min
                                span.lgs.icon.icon-logo
                            a.btn.btn_ghost(href="#LQ")
                        .title.cl--orange.txt_upper
                            h2
                                b El ser una agencia integral
                        .subtitle.cl--orange.txt_capital.mg_bottom--x20
                            h3 nos hace tu aliado experto
                        .paragraf.mg_bottom--x100
                            b Somos el mejor aliado para que una idea <br> se convierta en una estrategia efectiva.
                        hr.hr.hr_site.hr_site--full.bgc--silver.mg_bottom--x20
                        .paragraf.mg_bottom--x20
                            p  Con más de 13 Años de experiencia en el mercado nos hemos consolidado en la planeación y ejecución de tácticas en digerentes plataformas digitales como:
                        .list_lq
                            ul.list.list_site.list_site--right.list_site--orange.list_upper
                                li
                                    h5
                                        b Páginas web
                                li
                                    h5
                                        b Redes sociales
                                li
                                    h5
                                        b Aplicaciones móviles
                        .buttons.mg_bottom--x10
                            ul.list--inline.cl--orange
                                li
                                    .circle.circle_min--orange
                                        span.icon.icon-min_down_arrow
                                        a.btn.btn_ghost(href="#")
                        .title
                            .logo_site.cl--orange
                                span.icon.icon-min_lequa_hr
                                a.btn.btn_ghost(href="#LQ")
        .row
            section.column.column-full
                article.box.container
                    .title.mg_bottom--x20.cl--orange.txt_upper
                        h2 Ellos
                            b Creen en nosotros
                    .slider.mg_bottom--x100
                        - for (var x = 0; x < 6; x++)
                            .client
                                .client_lq(style="background-image: url('./images/logo.jpg')")
                                a.btn.btn_ghost(href="#LQ")
