extends ./base/layout.pug

block content
    main.full
        .row
            section.end.column.column-middle.bgc--orange
                article.box.box_site.box_site--left
                    .content
                        .logo_site.logo_site--white.mg_bottom--x20
                            .txt_size--min
                                span.lgs.icon.icon-logo
                            a.btn.btn_ghost(href="#LQ")
                        .title.cl--white.txt_upper
                            h2
                                b Titulo de prueba LQ
                        .subtitle.cl--white.txt_capital
                            h3 <b>Subtitulo</b> de prueba LQ
                        .paragraf.cl--white.mg_bottom--x20
                            b Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, earum nisi est, ut ex impedit.
                            p  Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit.</b> Iure, earum nisi est, ut ex impedit. <a href="#">Dolorem quam suscipit</a> voluptas nemo ut, animi ullam, mollitia ducimus itaque esse, dolores aliquid laboriosam!
                        .list_lq
                            .title.cl--orange.txt_upper
                                h2
                                    b Lista Compuesta
                            ul.list.list_site_join.list_site_join--right.list_site--white
                                li
                                    h5
                                        b Paginas web
                                    ul
                                        li
                                            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                li
                                    h5
                                        b Paginas web
                                    ul
                                        li
                                            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis repellat in cumque itaque est minus repellendus.
                                li
                                    h5
                                        b Paginas web
                                    ul
                                        li
                                            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis repellat in cumque itaque est minus repellendus, ipsam saepe sapiente quasi maiores mollitia ipsa, accusantium aperiam tempore ratione? Corporis, corrupti, hic?
                        .icons_lq.mg_bottom--x50
                            .title.cl--white.txt_upper
                                h2
                                    b Social Media Icons LQ
                            ul.list--inline.cl--white
                                li
                                    h3
                                        b BLOG
                                    a.btn.btn_ghost(href="#blog")
                                li
                                    .circle.circle_min--white
                                        span.icon.icon-facebook
                                        a.btn.btn_ghost(href="#")
                                li
                                    .circle.circle_min--white
                                        span.icon.icon-instagram
                                        a.btn.btn_ghost(href="#")
                                li
                                    .circle.circle_min--white
                                        span.icon.icon-twitter
                                        a.btn.btn_ghost(href="#")
                        .control_lq.mg_bottom--x50
                            .title.cl--white.txt_upper
                                h2
                                    b Control Icons LQ
                            ul.list--inline.cl--white
                                li
                                    span.icon.icon-down_arrow
                                    a.btn.btn_ghost(href="#down")
                                li
                                    span.icon.icon-up_arrow
                                    a.btn.btn_ghost(href="#")
                            ul.list--inline.cl--white
                                li
                                    .circle.circle_min--white
                                        span.icon.icon-min_down_arrow
                                        a.btn.btn_ghost(href="#")
                                li
                                    .circle.circle_min--white
                                        span.icon.icon-min_up_arrow
                                        a.btn.btn_ghost(href="#up")
                        .modulos_lq.mg_bottom--x50
                            .title.cl--white.txt_upper
                                h2
                                    b Modulos Icons
                            ul.list--inline.cl--white
                                li
                                    span.icon.icon-branding.txt_size--med
                                li
                                    span.icon.icon-camera.txt_size--med
                                li
                                    span.icon.icon-chat.txt_size--med
                                li
                                    span.icon.icon-client.txt_size--med
                            ul.list--inline.cl--white.mg_bottom--x50
                                li
                                    span.icon.icon-coffee.txt_size--med
                                li
                                    span.icon.icon-megaphone.txt_size--med
                                li
                                    span.icon.icon-mouse.txt_size--med
                                li
                                    span.icon.icon-project.txt_size--med
                                li
                                    span.icon.icon-trade.txt_size--med
                        .title
                            .logo_site.cl--white
                                span.icon.icon-min_lequa_hr
                                a.btn.btn_ghost(href="#LQ")
            section.start.column.column-middle.bgc--white
                article.box.box_site.box_site--right
                    .content
                        .logo_site.logo_site--mix.mg_bottom--x20
                            .txt_size--min
                                span.lgs.icon.icon-logo
                            a.btn.btn_ghost(href="#LQ")
                        .title.cl--orange.txt_upper
                            h2
                                b Titulo de prueba LQ
                        .subtitle.cl--orange.txt_capital.mg_bottom--x20
                            h3 <b>Subtitulo</b> de prueba LQ
                        .paragraf.mg_bottom--x100
                            b Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, earum nisi est, ut ex impedit.
                        hr.hr.hr_site.hr_site--full.bgc--gray.mg_bottom--x20
                        .paragraf.mg_bottom--x20
                            p  Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit.</b> Iure, earum nisi est, ut ex impedit. <a href="#">Dolorem quam suscipit</a> voluptas nemo ut, animi ullam, mollitia ducimus itaque esse, dolores aliquid laboriosam!
                        .list_lq
                            .title.cl--orange.txt_upper
                                h2
                                    b Lista Simple
                            .paragraf.txt_capital.mg_bottom--x20
                                h4 Izquierda Y derecha (depende totalmente de .start o .end)
                            ul.list.list_site.list_site--left.list_site--orange.list_upper
                                li
                                    h5
                                        a(href="/link") Paginas web
                                li
                                    h5
                                        b Paginas web
                                li
                                    h5
                                        b Paginas web
                            ul.list.list_site.list_site--right.list_site--orange.list_upper
                                li
                                    h5
                                        b Paginas web
                                li
                                    h5
                                        b Paginas web
                                li
                                    h5
                                        b Paginas web
                        .list_lq
                            .title.cl--orange.txt_upper
                                h2
                                    b Lista Compuesta
                            ul.list.list_site_join.list_site_join--left.list_site--orange
                                li
                                    h5
                                        b Paginas web
                                    ul
                                        li
                                            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis repellat in cumque itaque est minus repellendus, ipsam saepe sapiente quasi maiores mollitia ipsa, accusantium aperiam tempore ratione? Corporis, corrupti, hic?
                                li
                                    h5
                                        b Paginas web
                                    ul
                                        li
                                            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis repellat in cumque itaque est minus repellendus, ipsam saepe sapiente quasi maiores mollitia ipsa, accusantium aperiam tempore ratione? Corporis, corrupti, hic?
                                li
                                    h5
                                        b Paginas web
                                    ul
                                        li
                                            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis repellat in cumque itaque est minus repellendus, ipsam saepe sapiente quasi maiores mollitia ipsa, accusantium aperiam tempore ratione? Corporis, corrupti, hic?
                        .icons_lq.mg_bottom--x50
                            .title.cl--orange.txt_upper
                                h2
                                    b Social Media Icons LQ
                            ul.list--inline.cl--orange
                                li
                                    h3
                                        b BLOG
                                    a.btn.btn_ghost(href="#blog")
                                li
                                    .circle.circle_min--orange
                                        span.icon.icon-facebook
                                        a.btn.btn_ghost(href="#")
                                li
                                    .circle.circle_min--orange
                                        span.icon.icon-instagram
                                        a.btn.btn_ghost(href="#")
                                li
                                    .circle.circle_min--orange
                                        span.icon.icon-twitter
                                        a.btn.btn_ghost(href="#")
                        .control_lq.mg_bottom--x50
                            .title.cl--orange.txt_upper
                                h2
                                    b Control Icons LQ
                            ul.list--inline.cl--orange
                                li
                                    span.icon.icon-down_arrow
                                    a.btn.btn_ghost(href="#down")
                                li
                                    span.icon.icon-up_arrow
                                    a.btn.btn_ghost(href="#")
                            ul.list--inline.cl--orange
                                li
                                    .circle.circle_min--orange
                                        span.icon.icon-min_down_arrow
                                        a.btn.btn_ghost(href="#")
                                li
                                    .circle.circle_min--orange
                                        span.icon.icon-min_up_arrow
                                        a.btn.btn_ghost(href="#up")
                        .modulos_lq.mg_bottom--x50
                            .title.cl--orange.txt_upper
                                h2
                                    b Modulos Icons
                            ul.list--inline.cl--orange
                                li
                                    span.icon.icon-branding.txt_size--med
                                li
                                    span.icon.icon-camera.txt_size--med
                                li
                                    span.icon.icon-chat.txt_size--med
                                li
                                    span.icon.icon-client.txt_size--med
                            ul.list--inline.cl--orange.mg_bottom--x50
                                li
                                    span.icon.icon-coffee.txt_size--med
                                li
                                    span.icon.icon-megaphone.txt_size--med
                                li
                                    span.icon.icon-mouse.txt_size--med
                                li
                                    span.icon.icon-project.txt_size--med
                                li
                                    span.icon.icon-trade.txt_size--med
                        .buttons.mg_bottom--x10
                            .title.cl--orange.txt_upper
                                h2
                                    b Botones y estados
                        .buttons.mg_bottom--x10
                            button.btn.btn_site.btn_site--orange Enviar
                        .buttons.mg_bottom--x10
                            button.btn.btn_site.btn_site--orange.disable Borrar
                        .buttons.mg_bottom--x10
                            button.btn.btn_site.btn--middle.btn_site--orange Enviar
                        .buttons.mg_bottom--x10
                            button.btn.btn_site.btn--middle.btn_site--orange.disable Borrar
                        .buttons.mg_bottom--x10
                            button.btn.btn_site.btn--max.btn_site--orange Enviar
                        .buttons.mg_bottom--x10
                            button.btn.btn_site.btn--max.btn_site--orange.disable Borrar
                        .forms
                            .title.cl--orange.txt_upper
                                h2
                                    b Formularios
                            form#data.form_data
                                .row
                                    .column.input.name
                                        input#name.input__field(type="text")
                                        label
                                            span Nombre
                                .row
                                    .column.column-middle.mg_right--x10.input.country
                                        input#country.input__field(type="text")
                                        label
                                            span País
                                    .column.column-middle.mg_right--x10.input.city
                                        input#city.input__field(type="text")
                                        label
                                            span Ciudad
                                .row
                                    .column.input.email
                                        input#email.input__field(type="text")
                                        label
                                            span Email
                                .row
                                    .column.mg_bottom--x20.input.message
                                        textarea#message.input__field(type="text")
                                        label
                                            span Comentarios
                                .row
                                    .column.mg_bottom--x20
                                        .alerta
                                            p
                                .row
                                    .column.mg_bottom--x20
                                        button.btn.btn_site--orange.btn--max#submit(type="submit") Enviar
                        .title
                            .logo_site.cl--orange
                                span.icon.icon-min_lequa_hr
                                a.btn.btn_ghost(href="#LQ")
