// buttons
a
    border-bottom: 1px solid
    border-radius: none
    font-size: 1.4rem
    font-family: $primary-font
    cursor: pointer
    font-weight: 600
    -webkit-appearance: inherit
    +transition(all 0.3s ease-in-out)
    color: inherit
.btn
    border: none
    box-shadow: none
    border-radius: none
    font-size: 1.4rem
    font-family: $primary-font
    padding: 0.8em 2.2em
    cursor: pointer
    font-weight: 600
    -webkit-appearance: inherit
    +transition(all 0.3s ease-in-out)
// compuestos
.btn
    &_ghost
        +btnGhost
