// box
.box
    &_shadow
        box-shadow: 0 1px 1px rgba($black, .05)
    &_site
        height: 100vh
        &--left
            padding: 40px 100px 40px 150px
        &--right
            padding: 40px 150px 40px 100px
